USE [master]
GO
/****** Object:  Database [hethong-catp]    Script Date: 5/5/2026 11:12:15 AM ******/
CREATE DATABASE [hethong-catp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hethong-catp', FILENAME = N'E:\sql\hethong-catp.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'hethong-catp_log', FILENAME = N'E:\sql\hethong-catp_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hethong-catp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hethong-catp]
GO
/****** Object:  Table [dbo].[news]    Script Date: 5/5/2026 11:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
    [id] [int] IDENTITY(1,1) NOT NULL,
    [tieuDe] [nvarchar](255) NOT NULL,
    [noiDung] [nvarchar](max) NOT NULL,
    [hinhAnh] [nvarchar](max) NULL,
    [tacGia] [nvarchar](255) NOT NULL,
    [ngayDang] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_39a43dfcb6007180f04aff2357e] PRIMARY KEY CLUSTERED 
(
    [id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[reports]    Script Date: 5/5/2026 11:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reports](
    [id] [int] IDENTITY(1,1) NOT NULL,
    [tieuDe] [nvarchar](255) NOT NULL,
    [mangViPham] [nvarchar](255) NOT NULL,
    [noiDung] [nvarchar](max) NULL,
    [toaDoGps] [nvarchar](255) NULL,
    [trangThai] [nvarchar](255) NOT NULL,
    [ngayGui] [datetime2](7) NOT NULL,
    [ghiChuKetQua] [nvarchar](255) NULL,
    [anhKetQua] [nvarchar](max) NULL,
    [donViXuLy] [nvarchar](255) NULL,
    [anhKiemChung] [nvarchar](max) NULL,
 CONSTRAINT [PK_d9013193989303580053c0b5ef6] PRIMARY KEY CLUSTERED 
(
    [id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[units]    Script Date: 5/5/2026 11:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[units](
    [id] [int] IDENTITY(1,1) NOT NULL,
    [tenDonVi] [nvarchar](255) NOT NULL,
    [nguoiLienHe] [nvarchar](100) NULL,
    [soDienThoai] [nvarchar](20) NULL,
    [trangThai] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_5a8f2f064919b587d93936cb223] PRIMARY KEY CLUSTERED 
(
    [id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[news] ADD  CONSTRAINT [DF_395133779e9a70980fd746e3880]  DEFAULT (N'Ban Tiếp nhận CATP') FOR [tacGia]
GO
ALTER TABLE [dbo].[news] ADD  CONSTRAINT [DF_507c249d0d2e576b0029d9ec225]  DEFAULT (getdate()) FOR [ngayDang]
GO
ALTER TABLE [dbo].[reports] ADD  CONSTRAINT [DF_62a27b32f2c7fc21ea7d4933723]  DEFAULT (N'Mới') FOR [trangThai]
GO
ALTER TABLE [dbo].[reports] ADD  CONSTRAINT [DF_cb0a14f206c191bfed799e0cb87]  DEFAULT (getdate()) FOR [ngayGui]
GO
ALTER TABLE [dbo].[units] ADD  CONSTRAINT [DF_057161c5282480d20025b9791c1]  DEFAULT (N'Hoạt động') FOR [trangThai]
GO
USE [master]
GO



USE [hethong-catp]
GO

-- 1. DỮ LIỆU MẪU CHO BẢNG UNITS
GO

-- 2. DỮ LIỆU MẪU CHO BẢNG NEWS


-- 3. DỮ LIỆU MẪU CHO BẢNG REPORTS


-- 4. Du lieu cho bang Users

INSERT INTO [dbo].[users] ([email], [password], [role], [fullName]) VALUES 
(N'admin@catp.vn', N'123456', N'admin', N'admin'),
(N'22t1020306@husc.edu.vn', N'123456', N'admin', N'phat'),
(N'phat_catp@gmail.com', N'123456', N'unit', N''),
(N'ht69224@gmail.com', N'123456', N'admin', N'mimi')
GO